<div class="text-center mt-3 mb-3">
    <form>
        <i class="fa fa-search mr-2"></i>
        <input
            class="rounded"
            type="search"
            placeholder="search..."
            autofocus
            (keyup)="onKeyUp($event.target)"
            [value]="value"
            >
    </form>
</div>