<app-search (onTyping) = 'filter = $event' [value]='filter'></app-search>
<app-photos [photos]="photos | filterByDescription: filter" ></app-photos>

<app-load-button
    (click) = "load()"
    [hasMore] = 'hasMore'>
</app-load-button>

