<div class="text-center" *ngIf="hasMore; else MessageTemplate">
    <button class="btn btn-primary">Load more</button>
</div>
<ng-template #MessageTemplate >
    <p class="text-center text-muted">No more data to load</p>
</ng-template>